.classpath
.project
.settings/
*.class
target/
.mvn/
.vscode/
resources.txt
address_records/
node_modules/
my_progress/
mvnw*
src/main/resources/static/*
!src/main/resources/static/favicon.ico
.dockerignore
*.log