version: "3"

services:
  mongo:
    image: mongo
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet

  seeddb:
    image: gwijnker/coin:8-mongo
    deploy:
      restart_policy:
        condition: on-failure
    depends_on:
      - mongo
    networks:
      - webnet

  app:
    image: gwijnker/coin:3-app
    deploy:
      restart_policy:
        condition: on-failure
    depends_on:
      - seeddb
    ports:
      - "8080:8080"
    networks:
      - webnet

networks:
  webnet: